
body {
    background: #0f172a;
    color: white;
    font-family: Arial;
    text-align: center;
}

input, button {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
}

button {
    background: #22c55e;
    color: white;
    cursor: pointer;
}

.card {
    background: #1e293b;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    display: inline-block;
}

img {
    width: 150px;
    border-radius: 10px;
}
